@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Sixtyfour", sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  text-align: center;
}
h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
input[type="text"] {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
}
button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #1e88e5;
  color: #ffffff;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin-top: 1rem;
}
li {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
li .completed {
  text-decoration: line-through;
  color: #888888;
}
